@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600&family=Raleway:ital,wght@0,800;0,900;1,900&display=swap");

h1,
h2 {
  font-family: "Raleway", sans-serif;
}

h3,
p,
a,
img{
  font-family: "Mulish", sans-serif;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 500;
}

p,
a, 
img {
  font-weight: 400;
}

body {
  margin: 0;
}
