body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #272727;
}
md-content {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: auto;
}
